body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  @apply bg-black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.page-slide-left-enter-active,
.page-slide-left-leave-active,
.page-slide-right-enter-active,
.page-slide-right-leave-active {
  @apply transition-all;
  @apply duration-100;
  @apply overflow-hidden;
  @apply ease-in;
}

.page-slide-left-enter,
.page-slide-right-leave-active {
  @apply opacity-0;
  @apply transform;
  @apply translate-x-8;
}

.page-slide-left-leave-active,
.page-slide-right-enter {
  @apply opacity-0;
  @apply transform;
  @apply -translate-x-8;
}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity;
  @apply duration-300;
}
.page-enter,
.page-leave-to {
  @apply opacity-0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
  @apply duration-500;
}
.fade-enter,
.fade-leave-to {
  @apply opacity-0;
}

.lazyLoad {
  @apply opacity-0;
  @apply transition-opacity;
  @apply duration-300;
  img {
    @apply opacity-0;
    @apply transition-opacity;
    @apply duration-300;
  }
}

.lazyLoad.isLoaded {
  @apply opacity-100;
  img {
    @apply opacity-100;
  }
}
