body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.lazyLoad {
  opacity: 0;
  transition: opacity 400ms;
  img {
    opacity: 0;
    transition: opacity 400ms;
  }
}

.lazyLoad.isLoaded {
  opacity: 1;
  img {
    opacity: 1;
  }
}
